In [1]:
# Import the dependencies.
import pandas as pd
import requests
# Import the API key.
from config import g_key

In [2]:
import gmaps

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Acajutla,SV,2021-04-01 16:49:11,13.5928,-89.8275,86.00,42,20,6.91
1,1,Andros Town,BS,2021-04-01 16:52:54,24.7000,-77.7667,77.00,83,75,14.97
2,2,Kaohsiung,TW,2021-04-01 16:52:36,22.6163,120.3133,79.00,83,75,3.44
3,3,Suntar,RU,2021-04-01 16:52:55,62.1444,117.6319,-2.90,93,34,6.85
4,4,Barra Do Garcas,BR,2021-04-01 16:52:55,-15.8900,-52.2567,89.69,48,70,3.94

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Acajutla,SV,2021-04-01 16:49:11,13.5928,-89.8275,86.00,42,20,6.91
1,1,Andros Town,BS,2021-04-01 16:52:54,24.7000,-77.7667,77.00,83,75,14.97
2,2,Kaohsiung,TW,2021-04-01 16:52:36,22.6163,120.3133,79.00,83,75,3.44
4,4,Barra Do Garcas,BR,2021-04-01 16:52:55,-15.8900,-52.2567,89.69,48,70,3.94
6,6,Bengkulu,ID,2021-04-01 16:52:55,-3.8004,102.2655,76.50,88,100,10.96
...,...,...,...,...,...,...,...,...,...,...
549,549,Saint-Pierre,RE,2021-04-01 16:54:56,-21.3393,55.4781,80.60,65,40,17.27
552,552,Tucuman,AR,2021-04-01 16:50:05,-26.8241,-65.2226,71.60,78,75,6.91
554,554,Mimongo,GA,2021-04-01 16:54:57,-1.6195,11.6068,73.62,89,100,0.89
555,555,Zabid,YE,2021-04-01 16:54:57,14.1951,43.3152,84.69,47,48,5.32
556,556,Salinas,US,2021-04-01 16:53:19,36.6777,-121.6555,71.60,47,1,11.50

In [12]:
preferred_cities_df.count()

City_ID       213
City          213
Country       213
Date          213
Lat           213
Lng           213
Max Temp      213
Humidity      213
Cloudiness    213
Wind Speed    213
dtype: int64

In [13]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0          Acajutla      SV     86.00  13.5928  -89.8275
1       Andros Town      BS     77.00  24.7000  -77.7667
2         Kaohsiung      TW     79.00  22.6163  120.3133
4   Barra Do Garcas      BR     89.69 -15.8900  -52.2567
6          Bengkulu      ID     76.50  -3.8004  102.2655
7           Rikitea      PF     73.92 -23.1203 -134.9692
8            Atuona      PF     80.20  -9.8000 -139.0333
12           Castro      BR     71.76 -24.7911  -50.0119
15            Kapaa      US     73.40  22.0752 -159.3190
19       Butaritari      KI     82.18   3.0707  172.7902

In [14]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodgings",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our lat and long.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make the request and get JSON data.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping

In [17]:
hotel_df.head()

              City Country  Max Temp      Lat       Lng       Hotel Name
0         Acajutla      SV     86.00  13.5928  -89.8275         Acajutla
1      Andros Town      BS     77.00  24.7000  -77.7667      Andros Town
2        Kaohsiung      TW     79.00  22.6163  120.3133        Kaohsiung
4  Barra Do Garcas      BR     89.69 -15.8900  -52.2567  Barra do Garças
6         Bengkulu      ID     76.50  -3.8004  102.2655         Bengkulu

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))